# Created by .ignore support plugin (hsz.mobi)
/.idea/
/bin/
/lib/
/TEST-ua.nure.kn_15_6.dudar.TestUser.txt
/db/
/TEST-ua.nure.kn_15_6.dudar.db.TestHsqlUserDao.txt
/out_ant/ua/nure/kn_15_6/dudar/
/web/WEB-INF/lib/
/out_ant/
